body {
  background: #111;
}

p {
  color: white;
}

.App {
  padding: 18px;
}
.name-list-container {
  display: flex;
  flex-direction: row;
  gap: 24px;
  flex-wrap: wrap;
}

.button-group {
  display: flex;
  gap: 12px;
}

button {
  padding: 10px;
  border: none;
  background: #1c91f5;
  color: white;
  font-weight: 600;
  border-radius: 4px;
  margin-bottom: 24px;

  transition: background 0.2s;
}

/* add hover and active colors */
button:hover {
  background: #156ab7;
}

button:active {
  background: #1c91f5;
}
