.name-card {
  width: 400px;
  background: black;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid gray;
}

.name-card p {
  margin: 5px;
}

.name-card__title {
  display: flex;
  gap: 12px;
}

.name-card__title * {
  color: white;
  margin: 0;
  font-size: 20px;
}

.name-card__title_name {
  font-weight: bold;
}

.name-card__title_id {
  font-weight: 100;
}

/* keyframe animation that will turn that background white and then back to black */
.name-card__fade {
  animation: fade 1s;
}

@keyframes fade {
  0% {
    background: black;
  }
  50% {
    background: rgba(255, 255, 255, 0.63);
  }
  100% {
    background: black;
  }
}
